@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}
button{
    background-color: transparent;
    border: none;
    font-family: "Azeret Mono", monospace;
}
<<<<<<< HEAD
=======
header{
    margin: 2.25rem 0;
}
header h3{
    font-size: 1.75rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header button{
    color: #0D1321;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid #0D1321;
    border-radius: 0.5rem;
}
/*hero-section css*/
.hero-section{
    text-align: center;
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
}
.hero-section h1{
        font-size: 3rem;
        margin: 2rem 13.75rem 1.5rem;
}
.hero-section p{
    color: #0D1321;
    margin: 0 18.25rem 2rem;
}
.hero-section button{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.25rem 2rem;
    color: #fff;
    background-color: #0D1321;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
}



/* Dev-section css */
.dev-section{
    margin:4.625rem 9.25rem;
}
.dev-section .container{
    background-color: #0d132105;
    padding: 5rem 6rem;
    border-radius: 1rem;
}
.dev-section .items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.code-section, .help-section, .solving-section{
    display: flex;
    align-items: center;
    padding: 3rem;
    border-radius: 1rem;
    color: #0d1321b3;
    background-color: white;
}
.dev-section .items h2{
    font-weight: 700;
}
.dev-section .items p{
    padding: 1rem 0 2rem;
}
.dev-section button{
    color: #0d1321b3;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    border: 1px solid #0d1321b3;
}








.intro-txt{
    text-align: center;
}
.intro-txt p{
    margin: 2rem 0;
}
.targets{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.targets div{
    padding: 2.5rem;
    border-radius: 1rem;
}
.targets h3{
    padding-bottom: 1rem;
}
.targets p{
    padding-bottom: 2rem;
}
.targets a{
    color: #0D1321;
    font-weight: 700;
}
.html{
    background-color: #ff4b1e0D;
}
.css{
   background-color :#004CE80D;
}
.js{
    background-color: #FFDF000D;
}
.targets div img{
    padding-bottom: 2.5rem;
}

.react, .node, .mongo{
    padding: 2.5rem;
    border: 1px solid #0D132126;
}

>>>>>>> b7e9ff8d43a6d086975894c9c410bfdf3ea91911
